body {
    background-color:gainsboro;
}
html{
    scroll-behavior: smooth;
} 
header{
    background: #f2f2f2;
}
nav{
    width: 1519px;
    background: #1b1b1b;

}
nav::after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background: black;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}
nav ul ul li a:hover{
    cover:cyan;
    box-shadow:none;

}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top:3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top 3s;
}
nav ul ul ul {
    border-top:none;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin:0 px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a {
    line-height: 50px;
}
nav ul ul ul li{
   position: relative;
   top:-70px;
   left: 150px;
}
.fa-plus{
    margin-left:40px;
    font-size:15px;
}
.show-1  input{
    display: none;
}

/*slider*/

.section_1{
    margin-top: 100px;
}
 .slidershow{
     margin-top: 80px;
    max-width: 700px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%) ; 
}
.navigation2{
    position: absolute;
    bottom: 20px;
    left: 50%;
   transform: translateX(-50%);
   display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s; 
}
.bar:hover{
    background: coral;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}


/*section2*/

.section2{
    margin-top:800px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: #222;
    background-color: rgb(6, 7, 10);
}
.wrapper{
    display: flex;
    width: 70%;
    justify-content: space-around;

}
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background:#fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow:0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,200,61,1));
    z-index: 2;
    transition:0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color:#fff;
    opacity: 0;
    transform: translateY(30px);
    transition:05s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1 {
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background:red;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 50px;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/*about us */

.about-us{
    font-size: 50px;
    color: darkred;
    margin-top: 100px;
    margin-left: 600px;
}
.section_3{
    margin-top: 100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
   max-width: 1400px;
   width: 100%;
    height: 500px;
}
.about-left-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.about-text{
    max-width: 200px;
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
}
.about-description{
    margin-top: 20px;
    max-width: 800px;
    width: 100%;
    font-size: 25px;
}
.about-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-left: 50px;
}
.about-right-box{
    margin-left: 600px;
}
.about-learn-more{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    background-color: khaki;
    font-size: 20px;
    border-radius: 80px;
}

/*counter*/

.section_4{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    margin-top: 500px;
}
.counter-middle{
    position: absolute;
    top: 300%;
    width: 100%;
    transform: translateY(-50%);
}
.counting-sec{
    padding: 40px 0;
    width: 100%;
    background: linear-gradient(90deg, #f3d948,#82ccdd );
}
.inner-width{
    max-width: 1200px;
    margin:auto;
    display: flex;
}
.col{
    flex: 1;
    text-align: center;
    padding: 20px;
    columns: #fff;
    text-transform:uppercase;
}
.col i{
    font-size: 40px;
    color: #333;
}
.num{
    font-size: 40px;
    margin: 20px 0;
}

/*sectcion_5*/

.section-5{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    background-color: rgb(161, 168, 168);
}
.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main_box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left:250px;
}
.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(14, 8, 0);
    border-radius:50%;
}
.icon{
   justify-content: center;
   margin: 30px auto;
}
.headline{
    margin-left: 100px;
    width: 400px;
    height: 50px;
    font-size: 40px;
    font-weight: bolder;
    color:rgb(238, 229, 231)
}
.headline-paragraph{
    
    margin-left: 100px;
    width: 400px;
    font-size: 30px;
    color: rgb(235, 229, 229)  
}
.box-headline{
    width: 400px;
    font-size: 20px;
    color: rgb(17, 16, 17);
    font-weight: bolder;
    margin-top: 20px
}
.box-paragraph{
    justify-content: center;
    max-width: 250px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: rgb(17, 17, 16);
    font-weight: bolder;
    margin-top: 20px;
}
.fa-drumstick-bite, .fa-clinic-medical, .fa-school{
    color: rgb(255, 10, 10);
    font-size: 30px;
}
.fa-school:hover{
    transform: rotate(90deg);
    color:rgb(75, 12, 247)
}
.fa-clinic-medical:hover{
    transform: rotate(90deg);
    color: rgb(75,12,247);
}
.fa-drumstick-bite:hover{
    transform: rotate(90deg);
    color: rgb(75,12,247);
}


/*registration form*/

.container{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    background: rgb(75, 72, 72);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-back{
    transform: rotateY(180deg);
}
.reg-card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(105, 104, 104, 0.26);
    perspective: 1000px;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
   transition: 1s;
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding:55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}
.reg-card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    background:transparent;
    border:1px solid #fff;
    margin:6px 0;
    height: 32px;
    border-radius: 20px;
    padding:0 10px;
    outline: none;
    text-align: center;
    color: #fff;
}
::placeholder{
    color:#fff;
    font-size: 12px;
}
.reg-checkbox{
    width: 15px;
    height: 15px;
}
button{
    width: 100%;
    background:transparent;
    border:1px solid #fff;
    margin: 35px 0 10px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:#fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
.remember{
    font-size:13px;
    margin-left: 10px;
}
.reg-card .reg-btn{
    margin-top:70px;
}
.reg-card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top:8px;

}

/*footer*/

.section_6{
    margin-top:100px;
}
.footer-container{
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #1d222e;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h6{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h6::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    width: 50px;
    height: 2px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    text-decoration:none;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    padding-left: 8px;
}
.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color:#fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #bbb;
}

