/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
    background-color:gainsboro;
    overflow-x:hidden;

}
html{
    scroll-behavior: smooth;
} 
header{
    background: #f2f2f2;     
}
nav{
    width: 100%;
    background: #1b1b1b;
}
nav::after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
    
}
nav ul li{
    float: left;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
            box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}
nav ul ul li a:hover{
    cover:cyan;
    -webkit-box-shadow:none;
            box-shadow:none;

}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top:3px solid cyan;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}
nav ul ul ul {
    border-top:none;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: black;
    -webkit-box-shadow: 10px 10px 5px #aaaaaa;
            box-shadow: 10px 10px 5px #aaaaaa;
}
nav ul ul li a {
    line-height: 50px;
}
nav ul ul ul li{
   position: relative;
   top:-70px;
   left: 150px;
}
.fa-plus{
    margin-left:40px;
    font-size:15px;
}
.show-1  input{
    display: none;
}

.nav-icon{
    color:#fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.nav-icon .cancel-btn{
    position: absolute;
    right: 100px;
    top: 20px;
}
/*slider*/

.section_1{
    margin-top: 100px;
}
.slidershow{
    margin-top: 80px;
    max-width: 700px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top:50% ;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) ;
        -ms-transform: translate(-50%,-50%) ;
            transform: translate(-50%,-50%) ; 
}
.navigation2{
    position: absolute;
    bottom: 20px;
    left: 50%;
   -webkit-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
           transform: translateX(-50%);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; 
}
.bar:hover{
    background: coral;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slide{
    width: 20%;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}


/*section2*/

.section2{
    margin-top:800px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: #222;
    background-color: rgb(6, 7, 10);
}
.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}
.card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background:#fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-shadow:0px 7px 10px rgba(0,0,0,0.5);
            box-shadow:0px 7px 10px rgba(0,0,0,0.5);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.card:hover{
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
}
.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,176,155,0.5)), to(rgba(150,200,61,1)));
    background:-o-linear-gradient(top, rgba(0,176,155,0.5), rgba(150,200,61,1));
    background:linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,200,61,1));
    z-index: 2;
    -webkit-transition:0.5s all;
    -o-transition:0.5s all;
    transition:0.5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    -o-object-fit:cover;
       object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
}
.card .info{
    position: relative;
    z-index: 3;
    color:#fff;
    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition:05s all;
    -o-transition:05s all;
    transition:05s all;
}
.card:hover .info{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
.card .info h1 {
    margin: 0;
}
.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background:red;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    margin-top: 50px;
}
.card .info .btn:hover{
    -webkit-box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
            box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

/*about us */

.about-us{
    font-size: 50px;
    color: darkred;
    margin-top: 100px;
    margin-left: 600px;
}
.section_3{
    margin-top: 100px;
    background-color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 500px;
}
.about-left-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.about-right-box{
    margin:0 auto;
    /* margin-left:400px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.about-text{
    max-width: 200px;
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
}
.about-description{
    margin-top: 20px;
    width: 100%;
    font-size: 25px;
}
.about-image{
    width: 400px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 50px;
}
.about-learn-more{
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 150px;
    background-color: khaki;
    font-size: 20px;
    border-radius: 80px;
}

/*counter*/

.section_4{
    font-family: "montserrat", sans-serif;
    margin-top: 50px;
}
.counter-middle{
    margin-bottom:  50px;
}
.counting-sec{
    padding: 40px 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#f3d948),to(#82ccdd) );
    background: -o-linear-gradient(left, #f3d948,#82ccdd );
    background: linear-gradient(90deg, #f3d948,#82ccdd );
}
.inner-width{
    max-width: 1200px;
    margin:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.col{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    padding: 20px;
    -webkit-columns: #fff;
       -moz-columns: #fff;
            columns: #fff;
    text-transform:uppercase;
}
.col i{
    font-size: 40px;
    color: #333;
}
.num{
    font-size: 40px;
    margin: 20px 0;
}

/*sectcion_5*/

.section-5{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1600px;
    width: 100%;
    background-color: rgb(161, 168, 168);
}
.box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}
.main_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 100px;
}
.icon-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgb(14, 8, 0);
    border-radius:50%;
}
.icon{
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   margin-left: 100px;
}
.center-box-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.headline{
    font-size: 40px;
    font-weight: bolder;
    color:rgb(238, 229, 231)
}
.headline-paragraph{
    width: 500px;
    font-size: 25px;
    color: rgb(35, 9, 1);
}
.box-headline{
    font-size: 20px;
    color: rgb(17, 16, 17);
    font-weight: bolder;
    margin-top: 20px
}
.box-paragraph{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 250px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: rgb(17, 17, 16);
    font-weight: bolder;
    margin-top: 20px;
}
.fa-drumstick-bite, .fa-clinic-medical, .fa-school{
    color: rgb(255, 10, 10);
    font-size: 30px;
}
.fa-school:hover{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color:rgb(75, 12, 247)
}
.fa-clinic-medical:hover{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: rgb(75,12,247);
}
.fa-drumstick-bite:hover{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: rgb(75,12,247);
}


/*registration form*/

.container{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    background: rgb(75, 72, 72);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.card-back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.reg-card{
    width: 350px;
    height: 500px;
    -webkit-box-shadow: 0 0 40px 20px rgba(105, 104, 104, 0.26);
            box-shadow: 0 0 40px 20px rgba(105, 104, 104, 0.26);
    -webkit-perspective: 1000px;
            perspective: 1000px;
}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding:55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.reg-card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.input-box{
    width: 100%;
    background:transparent;
    border:1px solid #fff;
    margin:6px 0;
    height: 32px;
    border-radius: 20px;
    padding:0 10px;
    outline: none;
    text-align: center;
    color: #fff;
}
::-webkit-input-placeholder{
    color:#fff;
    font-size: 12px;
}
::-moz-placeholder{
    color:#fff;
    font-size: 12px;
}
:-ms-input-placeholder{
    color:#fff;
    font-size: 12px;
}
::-ms-input-placeholder{
    color:#fff;
    font-size: 12px;
}
::placeholder{
    color:#fff;
    font-size: 12px;
}
.reg-checkbox{
    width: 15px;
    height: 15px;
}
button{
    width: 100%;
    background:transparent;
    border:1px solid #fff;
    margin: 35px 0 10px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.submit-btn{
    position: relative;
}
.submit-btn::after{
    content: '\27a4';
    color: #333;
    line-height: 32px;
    font-size: 17px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background:#fff;
    position: absolute;
    right: -1px;
    top: -1px;
}
.remember{
    font-size:13px;
    margin-left: 10px;
}
.reg-card .reg-btn{
    margin-top:70px;
}
.reg-card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top:8px;

}

/*footer*/

.section_6{
    margin-top:100px;
}
.footer-container{
    max-width: 1170px;
    margin: 0 auto;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #1d222e;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h6{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h6::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    width: 50px;
    height: 2px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    text-decoration:none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    font-weight: initial;
    color:white;
    padding-left: 8px;
}
.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color:#fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer-col .social-links .facebook:hover{
    color: white;
    background-color: rgb(66 103 178);
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
.footer-col .social-links .twitter:hover{
    color: white;
    background-color: #1DA1F2;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
.footer-col .social-links .instagram:hover{
    background: #d6249f;
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.25);
            box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
.footer-col .social-links .linkedin:hover{
    color: white;
    background-color: #0E76a8;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}
